h2,h1{
    text-align: center;
}
p{
    color: red;
}
.box{

    width: 200px;
    border: 2px solid black;
    border-radius: 7%;
    padding: 5px;
    font-weight: 600;
    background-color: lightskyblue;
}
#table1{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
}
#table2{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
    
}
#table3{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
}
#table4{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
}
#table5{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
}
#table6{
    display: inline-block;
    border: 2px solid black;
    line-height: 2.5;
    padding: 5px;
}
button{
    background-color:orangered ;
    color: white;
    display: flex;
    margin: 10px auto;
}
button:hover{
    background-color: blueviolet;
    
}