.loader{
    border: 16px solid #201e1e;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    
    /* 50% { transform: rotate(180deg); } */
    100% { transform: rotate(360deg); }
}