.grid-container {
    width: 600px;
    height: 300px;
    background-color: rgb(82, 22, 108);
   
    display: grid;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: 200px 200px 200px ; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(3, 1fr); */
}
.item{
    /* width: 100px;
    height: 50px; */
    background-color: coral;
    border: 2px solid black;
    text-align: center;
}