.grid-container {
    width: 600px;
    height: 300px;
    background-color: rgb(82, 22, 108);
   
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.item {
    /* width: 100px;
    height: 50px; */
    background-color: rgb(204, 31, 89);
    border: 2px solid rgb(26, 143, 88);
    text-align: center;
}
.one{
    grid-column: 1 / 6;
    /* line no. 1 to line no. 6 means it will take all 5 columns */
    grid-column: 1/span 5;
    /* line no. 1 and span 5 columns,,,both are same */

}