.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
img{
    width: 100%;
    border-radius: 25px;
}
h2{
    color: chocolate;
}
span{
    color: indianred;
}
h4{
    text-align: right;
    color: teal;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 375px){
    #pets{
        flex-wrap: wrap;
    }
}