.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12,1fr); 
    grid-template-columns: repeat(12,1fr);
    grid-gap: 7px;
}
.container div{
    
    background-color: lightpink;
    font-size: 1.5em;
   
}
.header{
    
    grid-column:1/ span 12;
}
.sidebar{
    grid-column: 1/span 3;
    grid-row: 2/span 10;
}
.navigation{
    
    grid-column: 4/span 6;
}
.ads{
    grid-column: 10/span 3;
    grid-row:2/span 10;
}
.main{
    grid-column: 4/span 6;
    grid-row:3/span 9;
}
.footer{
    grid-column: 1/span 12;
}
@media (max-width:720px){
    .header{
        grid-row: 1/span 1;
        grid-column:1/ span 12;
    }
    .navigation{
        grid-row: 2/span 1;
        grid-column:1/ span 12;
    }
    .sidebar{
        grid-row: 3/span 9;
        grid-column:1/ span 3;
    }
    .main{
        grid-row: 3/span 9;
        grid-column:4/ span 9;
    }
    .ads{
        grid-row: 12/span 1;
        grid-column:1/ span 3;
    }
    .footer{
        grid-row: 12/span 1;
        grid-column:4/ span 9;
    }
}