.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: lightblue;
    z-index: -2;
    position: relative;
}
.two{
    background-color: lightgreen;
    position: relative;
    bottom: 50px;
    z-index: 2;
}
.three{
    background-color: lightcoral;
    position: relative;
    bottom: 100px;
    z-index: -3;
}