*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.sidebar .logo a{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 3px;
}
.main-box{
    background-color: black;
    height: 100vh;
}
.btn-one i{
    opacity: 0.7;
    color: white;
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3 linear;
    
    
}
.btn-one i:hover{
    opacity: 1;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    left: -300px;
    background-color: rgb(255, 255, 255,0.2);
    height: 100vh;
    width: 300px;
    transition: all 0.3 linear;
}
.sidebar .logo{
    position: absolute;
    line-height: 60px;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 4px rgb(225, 225, 225,0.5);
}
.sidebar .logo a{
    position: absolute;
    left: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    line-height: 60px;
    
}
.sidebar .btn-two i{
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3 linear;
}
.sidebar .menue {
    position: absolute;
    font-size: 16px;
    top: 80px;
    left: 18px;
    line-height: 60px;
    width: 100%;
    
}
ul{
    list-style: none;
}
.sidebar .menue i,a{
    text-decoration: none;
    margin-top: 20px;
    color: white;
}
#check{
    display: none;
}
#check:checked~ .sidebar{
    left: 0;
}
.social-media{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}
.social-media a, i{
    
    opacity: 0.7;
    
}
.social-media a, i:hover{
    opacity: 1;
    cursor: pointer;
}

